---
import AboutSection from "../components/AboutSection.astro";
import ArtistSection from "../components/ArtistSection.astro";
import ContactSection from "../components/ContactSection.astro";
import GallerySection from "../components/GallerySection.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import LoadingScreen from "../components/LoadingScreen.astro";
import ProcessSection from "../components/ProcessSection.astro";
import RoseScene from "../components/RoseScene.astro";
import ServicesSection from "../components/ServicesSection.astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="zh-Hant">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="description" content="朝花曦時藝術工作室，提供客製花束、送禮花藝、婚禮花藝、活動佈置與空間花藝設計。" />
		<title>朝花曦時藝術工作室</title>
		<link rel="preconnect" href="https://font.emtech.cc" />
		<link rel="stylesheet" href="https://font.emtech.cc/css/ChironSungHK" />
		<link rel="stylesheet" href="https://font.emtech.cc/css/ZhuqueFangsong" />
	</head>
	<body data-loading>
		<LoadingScreen />
		<Header />
		<RoseScene />

		<main id="top">
			<Hero />
			<AboutSection />
			<ArtistSection />
			<ServicesSection />
			<GallerySection />
			<ProcessSection />
			<ContactSection />
		</main>
	</body>
</html>
